<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
</head>    
<body>

<ul>
  <li><a href="home/">Home</a></li>
  <li><a href="news/">News</a></li>
  <li><a href="emp/">Employees</a></li>
  <li><a href="contact/">Contact</a></li>
  <li><a href="about/">About</a></li>
  <li><a href="admin/">Admin Login</a></li>
  <li><a href="post/">CreatePost</a></li>
</ul>
<h1> Welcome to GNIMT <h1><br>
  <h2>  BCA4 Summer Training </h2><br>
  <h2>  Django with Python </h2><br>
  <h2>  4th July 23 to  2nd Aug 2023 </h2> 

</body>
</html>
